<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="CompatibleImageTemplateIds" value="{DAF085E8-602E-43A6-8299-038FF171349F}|{F1828A2C-7E5D-4BBD-98CA-320474871548}|{C97BA923-8009-4858-BDD5-D8BE5FCCECF7}|{EB3FB96C-D56B-4AC9-97F8-F07B24BB9BF7}"/>
    </settings>
  </sitecore>
</configuration>
