<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="Verndale.Feature.CognitiveImageTagging.Events.AddAltTextSaveEvent, Verndale.Feature.CognitiveImageTagging" method="OnItemSaving">
          <database>master</database>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>
