<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiUpload>
        <processor type="Verndale.Feature.CognitiveImageTagging.Pipelines.Upload.AddImageAltText, Verndale.Feature.CognitiveImageTagging" mode="on" patch:after="processor[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']"/>
      </uiUpload>
    </processors>
  </sitecore>
</configuration>
