<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiUpload>
        <processor mode="on" type="Verndale.Feature.CognitiveImageTagging.Pipelines.Upload.AddImageAltText, Verndale.Feature.CognitiveImageTagging" patch:after = "processor[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']"/>
      </uiUpload>
    </processors>
  </sitecore>
</configuration>
