<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="Verndale.CognitiveImageTagging:AddAltText"
               type="Verndale.Feature.CognitiveImageTagging.Commands.AddAltTextCommand, Verndale.Feature.CognitiveImageTagging"/>
      <command name="Verndale.CognitiveImageTagging:ForceAddAltText"
               type="Verndale.Feature.CognitiveImageTagging.Commands.ForceAddAltTextCommand, Verndale.Feature.CognitiveImageTagging"/>
      <command name="Verndale.CognitiveImageTagging:BulkAddAltText"
               type="Verndale.Feature.CognitiveImageTagging.Commands.BulkAddAltTextCommand, Verndale.Feature.CognitiveImageTagging"/>
    </commands>
  </sitecore>
</configuration>
